* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
}

.jumbotron{
  background-color: #ff3f34;
  color: white;
  text-align: center;
  min-height: 200px;
  align-items: center;
  padding-top: 20px;
}
.jumbotron h2{
  text-transform: capitalize;
}
.form-box{
  max-width: 900px;
  padding-top: 20px;
  margin: auto;
}
form input{
  margin-right: 10px;
}

.foods{
  padding: 20px;
}

.food-card{
  width: 400px;
}

.food-card img{
  width: 100%;
  object-fit: cover;
}

footer{
  text-align: center;
  background-color: #ff3f34;
  color: #fff;
}
a{
  text-decoration: none;
  color: navy;
}